/* Webfont: ButterAndCrumbCaps-Outline2 */@font-face {
    font-family: 'ButterAndCrumbCapsOutline2';
    src: url('ButterAndCrumbCaps-Outline2.woff') format('woff'), /* Modern Browsers */
         url('ButterAndCrumbCaps-Outline2.woff2') format('woff2'), /* Modern Browsers */
         url('ButterAndCrumbCaps-Outline2.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

