/* Webfont: ButterAndCrumbCaps-Outline1 */@font-face {
    font-family: 'ButterAndCrumbCapsOutline1';
    src: url('ButterAndCrumbCaps-Outline1.woff') format('woff'), /* Modern Browsers */
         url('ButterAndCrumbCaps-Outline1.woff2') format('woff2'), /* Modern Browsers */
         url('ButterAndCrumbCaps-Outline1.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

